<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add House</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1>Add House</h1>
		<p></p>
		<p></p>
		<form action="/housesList/add" th:object="${house}" method="post">
			<table>
				<tr>
				<td>Description</td>
				<td><input type="text" name="description" th:value="${description}" /></td>
			</tr>
			<tr>
				<td>Services</td> 
				<tr th:each="service: ${listServices}">
				<td th:text="${service.serviceName}">Service Name</td>
				<td>
				<input type="hidden" name="_services" th:value="${services}"/>
				<input type="checkbox" name="services" th:field="*{services}" th:value="${id_service}"/></td>
			</tr>
			<br><br>
			<tr>
				<td>Constraints</td>
				<tr th:each="constraint: ${listConstraints}">
				<td th:text="${constraint.constraintName}">Constraint Name</td>
				<td>
				<input type="hidden" name="_constraints" th:value="${constraints}"/>
				<input type="checkbox" name="constraints" th:field="*{constraints}" th:value="${id_constraint}"/></td>
			</tr>
			<tr>
				<td>Ratings</td>
				<td><input type="text" name="ratingsH" th:value="${ratingsH}" /></td>
			</tr>
			<tr>
				<td>Photos</td>
				<td><input type="text" name="photos" th:value="${photos}" /></td>
			</tr>
			<tr>
				<td>User ID (change to current logged in)</td>
				<td><input type="text" name="id_user" th:value="1" /></td>
			</tr>
				<tr>
					<td><input type="submit" name="action" value="save" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>