<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<title>Add house</title>
<div th:insert="fragments/header.html :: links"></div>
</head>

<body>
	<!-- Header -->
	<header th:insert="fragments/header.html :: header"> </header>
	<!-- End of header -->

	<!-- Content -->

	<!-- House description -->

	<!-- End of house description -->
	<div id="addHousePage">
		<form action="/profile/houses/add" th:object="${house}" method="post"
			@submit="addHouse">
			<div class="container" style="background-color: rgba(242, 242, 242)">
				<div class="row">
					<div class="col mt-5 mb-3 text-center">
						<h1>
							<b>Add a house</b>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col mt">
						<h4 style="color: #14A6B6">
							<b>About the house</b>
						</h4>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col">
							<div class="md-form">
								<div class="row">
									<div class="col-2 text-right">
										<label for="form7">House description</label>
									</div>
									<div class="col mt-3">
										<textarea type="text" id="descriptionInput"
											v-model="descriptionInput" class="md-textarea form-control"
											rows="3" name="description" th:value="${description}"></textarea>
										<span id="descriptionError" ref="descriptionError"> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- House location -->
			<div class="container" style="background-color: rgba(242, 242, 242)">
				<div class="row">
					<div class="col mt-5">
						<h4 style="color: #14A6B6">
							<b>Location information</b>
						</h4>
					</div>
				</div>

				<div class="form-group">
					<div class="row mt-3">
						<div class="col-2 text-right">
							<label for="addressInput">Address</label>
						</div>

						<div class="col">
							<input type="text" class="form-control" v-model="addressInput"
								id="addressInput" name="address" th:value="${address}" /> <span
								id="addressError" ref="addressError"> </span>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-2 text-right">
							<label for="additionalAdressInput">Additional address</label>
						</div>

						<div class="col">
							<input type="text" class="form-control"
								id="additionalAdressInput" name="additional_address"
								th:value="${additional_address}">
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-2 text-right">
							<label for="cityInput">City</label>
						</div>

						<div class="col">
							<input type="text" class="form-control" id="cityInput"
								v-model="cityInput" name="city" th:value="${city}"> <span
								id="cityError" ref="cityError"> </span>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-2 text-right">
							<label for="postalCodeInput">Postal code</label>
						</div>

						<div class="col">
							<input type="text" class="form-control" id="postalCodeInput"
								v-model="postalCodeInput" name="postal_code"
								th:value="${postal_code}"> <span id="postalCodeError"
								ref="postalCodeError"> </span>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-2 text-right">
							<label for="countryInput">Country</label>
						</div>

						<div class="col mb-5">
							<input type="text" class="form-control" id="countryInput"
								v-model="countryInput" name="country" th:value="${country}">
							<span id="countryError" ref="countryError"> </span>
						</div>
					</div>
				</div>
			</div>
			<!-- End of house location -->

			<!-- House amenities, constraints and services -->
			<div class="container" style="background-color: rgba(242, 242, 242)">
					<div class="row">
						<div class="col mt-3">
							<h4 style="color: #14A6B6">
								<b>Constraints and services</b>
							</h4>
						</div>
					</div>

				<div class="row">
					<div class="col mb-5">
						<label style="color: #14a6b6"><b>Services</b></label>

						<div class="row ml-5">
							<div class="col-4">
								<div class="form-check" th:each="service: ${listServices}">
									<input class="form-check-input" type="checkbox"
										id="flexCheckDefault" th:field="*{services}" name="services"
										th:value="${service.serviceName}"> <label
										class="form-check-label" for="flexCheckDefault"
										th:text="${service.serviceName}"> </label>
								</div>
							</div>
						</div>
						<span id="checkboxServicesError" ref="checkboxServicesError">
						</span>
					</div>
					<div class="col mb-5">
						<label style="color: #14a6b6"><b>Constraints</b></label>

						<div class="row ml-5">
							<div class="col-4">
								<div class="form-check" th:each="constraint: ${listConstraints}">
									<input class="form-check-input" type="checkbox"
										id="flexCheckDefault" th:field="*{constraints}"
										name="constraints" th:value="${constraint.constraintName}">
									<label class="form-check-label" for="flexCheckDefault"
										th:text="${constraint.constraintName}"> </label>
								</div>
							</div>
						</div>
						<span id="checkboxConstraintsError" ref="checkboxConstraintsError">
						</span>
					</div>
				</div>
			</div>
			<!-- end of House amenities, constraints and services -->

			<!-- Pictures of the house -->
			<div class="container">
				<div class="row mt-5">
					<div class="col">
						<button type="submit"
							class="btn btn-light border border-dark rounded-pill">Add
							pictures</button>
						<input type="file" name="photos" multiple>
					</div>

					<div class="col text-right">
						<input type="submit"
							class="btn btn-success border-0 rounded-pill btn-block"
							name="action" value="Save">
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- End of pictures of the house -->
	<!-- End of content -->


	<!-- Footer -->
	<div th:insert="fragments/footer.html :: footer"></div>
	<!-- End of Footer -->
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/addHouseFormRegulation.js}"></script>
</html>