<!DOCTYPE HTMl>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<title>Add Service</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1>Add Message</h1>

		<form action="/messagesListUser/add" method="post">
			<table>
				<tr>
				<td><input type="hidden" name="id_sender" th:value="${id_loggedUser}"/></td>
				</tr>
				<tr>
	
					<td>Subject</td>
					<td><input type="text" name="subject" th:value="${subject}" /></td>
				</tr>
				<tr>
					<td>Content</td>
					<td><input type="text" name="content" th:value="${content}" /></td>
				</tr>
				<tr>
					<td><input type="submit" name="action" value="Send Message" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>