<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
	<title>Add a rating</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
	        crossorigin="anonymous" referrerpolicy="no-referrer">
		</script>
		 <link th:href="@{/css/ratings.css}" rel="stylesheet" />
		 <div th:insert="fragments/header.html :: links"> </div>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

<body>
<!-- Header -->
<header th:insert="fragments/header.html :: header"> 
</header>
<!-- End of header -->

<!-- Content -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-light border rounded-pill" data-toggle="modal" data-target="#modalRatings">
  Rate this house
</button>

<!-- Modal -->
<div class="modal fade" id="modalRatings" tabindex="-1" role="dialog" aria-labelledby="modalRatingsTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: rgba(242, 242, 242);">
		<form>
			<div class="row">
				<div class="col text-center">
					<h2><b>Rate this house</b></h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="stars">
					  <form action="">
					    <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>			
					    <label class="star star-5" for="star-5"></label>			
					    <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>			
					    <label class="star star-4" for="star-4"></label>			
					    <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>			
					    <label class="star star-3" for="star-3"></label>			
					    <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>			
					    <label class="star star-2" for="star-2"></label>		
					    <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>		
					    <label class="star star-1" for="star-1"></label>
					  </form>
					</div>	
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="md-form">
						<label for="form7" style="color:black"><h4><b>Comment</b></h4></label>
					 	<textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col mt-5 text-right">
					<button type="submit" class="btn btn-success rounded-pill">Save</button>
				</div>
			</div>
		</form>	
       <!-- end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger rounded-pill" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End of content -->

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->
</body>
</html>
