<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Rating</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1>Add Rating</h1>
		<p></p>
		<p></p>
		<form th:action="@{/rating/add/UserRating}" th:object="${rating}" method="post">
			<table>
			<tr>
					<td>Id Receiver</td>
					<td><input hidden type="text" name="id_userReceiver" th:value="${id_userReceiver}" /></td>
				</tr>
				<tr>
					<td>Rating Value</td>
					<td><input type="text" name="value" th:value="${value}" /></td>
				</tr>
				<tr>
					<td>Content</td>
					<td><input type="text" name="description" th:value="${description}" /></td>
				</tr>
				<tr>
					<td><input type="submit" name="action" value="save" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>