<!DOCTYPE HTMl>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<title>Add Service</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1>Add Services</h1>
		<p></p>
		<p></p>
		<form action="/servicesList/add" method="post">
			<table>
				<tr>
					<td>Service Name</td>
					<td><input type="text" name="serviceName" th:value="${serviceName}" /></td>
				</tr>
				<tr>
					<td><input type="submit" name="action" value="save" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>