<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Admin Profile</title>
</head>
<body>
<div>
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	
	
 			<div class="col-2 text-left mt-2">
		     	<a th:href= "@{/housesList}" class="text-light">Go to list houses</a>
		    </div>
		    
		    <div class="col-2 text-left mt-2 mb-0">
		     	<a th:href="@{/usersList}" class="text-light">Go to list owners</a>
		    </div>
		    
		     <div class="col-2 text-left mt-2 mb-0">
		     	<a th:href="@{/servicesList}" class="text-light">Go to list services</a>
		    </div>
		    
		     <div class="col-2 text-left mt-2 mb-0">
		     	<a th:href="@{/constraintsList}" class="text-light">Go to list constraints</a>
		    </div>
		    
		    
		    

</body>
</html>