<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of Constraints</title>
</head>
<body>

List of Constraints

	<div class=container>
		<form action="/constraintsList/search" method="post">
			<table>
				<tr>
					<td>Recherche simple:</td>
					<td><input type="text" name="motCle" th:value="${motC}" /></td>
					<td><input type="submit" name="action" value="search" /></td>
				</tr>
			</table>
		</form>
	</div>

	<form th:action="@{/constraintsList}" th:object="${constraint}" method="post">

		<table>
			<tr>
				<th>Id</th>
				<th>Constraint Name</th>
			</tr>

			<tr th:each="constraint: ${listConstraints}">
				<td th:text="${constraint.id_constraint}">Id</td>
				<td th:text="${constraint.constraintName}">Constraint Name</td>
				<td> <a th:href="@{/listConstraints/edit(id_constraint=${constraint.id_constraint}, constraintName=${constraint.constraintName}, houseConstraint_FK=${constraint.houseConstraint_FK}, edit=0)}">Edit</a>
				</td>
				<td><a onclick="return confirm('Please Confirm')"
					th:href="@{/constraintsList/delete(id_constraint=${constraint.id_constraint})}"> Delete
				</a></td>
			</tr>


		</table>

	</form>
	
	<a href="/constraintsList/add">Add new constraint</a>
	
</body>
</html>