<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	<meta charset="utf-8" />
	<title>Edit houses</title>
		<div th:insert="fragments/header.html :: links"> 
		</div>
	</head>

<body>

<!-- Header -->
<header th:insert="fragments/header.html :: header"> 
</header>
<!-- End of header --

<!-- Content -->
<!-- Gallery -->
<div class="container">
	<div class="row  mt-5">
		<div class="col-2 text-right">
			<label for="houseNameInput">House name</label>
		</div>
		
		<div class="col">
			<input type="text" class="form-control" id="houseNameInput" placeholder="House name">
		</div>
	</div>
	
	<div class="row mt-5">
	  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
	    <img
	      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
	      class="w-100 shadow-1-strong rounded mb-4"
	      alt="Boat on Calm Water"
	    />
	
	    <img
	      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
	      class="w-100 shadow-1-strong rounded mb-4"
	      alt="Wintry Mountain Landscape"
	    />
	  </div>
	
	  <div class="col-lg-4 mb-4 mb-lg-0">
	    <img
	      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
	      class="w-100 shadow-1-strong rounded mb-4"
	      alt="Mountains in the Clouds"
	    />
	
	    <img
	      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
	      class="w-100 shadow-1-strong rounded mb-4"
	      alt="Boat on Calm Water"
	    />
	  </div>
	
	  <div class="col-lg-4 mb-4 mb-lg-0">
	    <img
	      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
	      class="w-100 shadow-1-strong rounded mb-4"
	      alt="Waves at Sea"
	    />
	
	    <img
	      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
	      class="w-100 shadow-1-strong rounded mb-4"
	      alt="Yosemite National Park"
	    />
	  </div>
	</div>
	
	<div class="row">
		<div class="col-10 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Add pictures</button>
	  	</div>
	  	
	  	<div class="col-2 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Delete pictures</button>
	  	</div>
	</div>
	
	<div class="row">
		
	</div>
</div>
<!-- End of gallery -->

<!-- House location -->
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h4 style="color:#14A6B6"><b>Location information</b></h4>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row mt-3">
			<div class="col-2 text-right">
				<label for="adressInput">Adress</label>
			</div>
			
			<div class="col">
				<input type="text" class="form-control" id="adressInput" placeholder="my address">
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-2 text-right">
				<label for="additionalAdressInput">Additional adress</label>
			</div>
			
			<div class="col">
				<input type="text" class="form-control" id="additionalAdressInput" placeholder="additional address">
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-2 text-right">
				<label for="cityInput">City</label>
			</div>
			
			<div class="col">
				<input type="text" class="form-control" id="cityInput" placeholder="my city">
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-2 text-right">
		    	<label for="zipCodeInput">Zip code</label>
		    </div>
		    
		    <div class="col">
		    	<input type="text" class="form-control" id="zipCodeInput" placeholder="zip code" >
		    </div>	
		   </div>
		   
		   <div class="row mt-3">
		    <div class="col-2 text-right">
		    	<label for="countryInput">Country</label>
		    </div>
		    
		    <div class="col">
		    	<input type="text" class="form-control" id="countryInput" placeholder="nom du pays">
		    </div>
		</div>
	</div>
</div>

<!-- End of house location -->

<!--Material textarea-->
<div class="container">
	
	<div class="row">
		<div class="col">
			<div class="md-form">
				<label for="form7" style="color:#14A6B6"><h4><b>House description</b></h4></label>
			 	<textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col mt-3 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Save changes</button>
	  	</div>
	</div>
</div>
<!-- End of material textarea -->

<!-- End of content -->

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->

</body>
</html>