<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of houses</title>
</head>
<body>
	List of Houses
	
	<div class=container>
		<form action="/housesList/search" method="post">
			<table>
				<tr>
					<td>Search: </td>
					<td><input type="text" name="motCle" th:value="${motC}" placeholder="Find by description or Ratings" size="50"/></td>
					<td><input type="submit" name="action" value="search" /></td>
				</tr>
			</table>
		</form>
	</div>

	<form th:action="@{/housesList}" th:object="${house}" method="post">

		<table>
			<tr>
				<th>Description</th>
				<th>Services</th>
				<th>Constraints</th>
				<th>Rate</th>
				<th>Address</th>
				<th>Photos</th>
			</tr> 

			<tr th:each="house: ${listHouses}" var="house">
				<td th:text="${house.description}">Description</td>
				<td th:text="${house.services}">Services</td>
				<td th:text="${house.constraints}">Constraints</td>
				<td th:text="${house.ratingsH}">Rate</td> 
				<td th:text="${house.address}+' '+${house.additional_address}+' '+${house.city}+' '+${house.postal_code}+' '+${house.country}"> Address </td> 
				<td> <img th:src="${house.photos}" style="width: 100px;height: 100px;"></td>
				<td>
				<a th:href="@{/houseProfile/{id_house} (id_house=${house.id_house})}">View</a>
				</td>
				
				<td> <a th:href="@{/listHouses/edit(id_house=${house.id_house}, description=${house.description}, ratingsH=${house.ratingsH}, services=${house.services}, constraints=${house.constraints}, photos=${house.photos}, address=${house.address}, city=${house.city}, postal_code=${house.postal_code}, country=${house.country}, additional_address=${house.additional_address}, edit=0)}">Edit</a>
				</td>
				<td><a onclick="return confirm('Please Confirm')"
					th:href="@{/housesList/delete(id_house=${house.id_house})}"> Delete
				</a></td>
				
			</tr>

		</table>

	</form>
	
	<a href="/housesList/add">Add new house</a>
</body>
</html>