<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>House Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<h1>House Page</h1>
	<form th:action="@{/housePage/{id_house}}" method="post">
		
		<div>
			<label>Description</label>
			<div> <p th:text="${description}"></div>
		</div>
		
		<div>
			<label>Services</label>
			<div> <p th:text="${services}"></div>
		</div>
		
		<div>
			<label>Constraints</label>
			<div> <p th:text="${constraints}"></div>
		</div> 
		
		<div>
			<label>Rate</label>
			<div> <p th:text="${ratingsH}"></div>
		</div>
		
		<!--
		<div>
			<label>Photos</label>
			<div> <img alt="" th:src="${house.photos}" style="width: 100px;height: 100px;"></div>
		</div>
		
		 
		<table>
			<tr>
					<th>Description</th>
					<th>Services</th>
					<th>Constraints</th>
					<th>Rate</th>
					<th>Photos</th>
				</tr> 
			
			<tr>
					<td th:value="${house.description}">Description</td>
					<td th:value="${house.services}">Services</td>
					<td th:value="${house.constraints}">Constraints</td>
					 <td th:value="${house.ratingsH}">Rate</td> 
					 <td> <img th:src="${housePage.photos}" style="width: 100px;height: 100px;"></td>		
			</tr>
		</table> -->

	</form>
</body>
</html>