<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	<meta charset="utf-8" />
	<title>Edit house</title>
		<div th:insert="fragments/header.html :: links"> 
		</div>
	</head>

<body>

<!-- Header -->
<header th:insert="fragments/header.html :: header"> 
</header>
<!-- End of header --
<!-- Content -->
<!-- Gallery -->
<form action="/listHouses/edit" method="get">
<div class="container">
	<div class="row mt-5">
		<div>
	    	<img
	      		src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
	      		class="w-100 shadow-1-strong rounded mb-4"
	      		alt="Boat on Calm Water"
	   	 	/>
	    	<div class="text-center mt-4">
        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#house_photos">
  					See all photos
				</button>
         	</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-10 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Add pictures</button>
	  	</div>
	  	
	  	<div class="col-2 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Delete pictures</button>
	  	</div>
	</div>
	
	<div class="row">
		
	</div>
</div>
<div class="modal fade" id="house_photos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
			<div class="modal-body">
					<img
		      			src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
		      			class="w-100 shadow-1-strong rounded mb-4"
		      			alt="Wintry Mountain Landscape"
		    		/>
	
				    <img
				      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="Mountains in the Clouds"
				    />

				    <img
				      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="Waves at Sea"
				    />
				
				    <img
				      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="Yosemite National Park"
				    /> 
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>	  
<!-- End of gallery -->

<!-- House characteristics -->
<input type="hidden" name="id_house" th:value="${id_house}" readonly />
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h4 style="color:#14A6B6"><b>Location information</b></h4>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row mt-3">
			<div class="col-2 text-right">
				<label for="adressInput">Address</label>
			</div>
			
			<div class="col">
				<input type="text" class="form-control" id="adressInput" name="address" th:value="${address}">
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-2 text-right">
				<label for="additionalAdressInput">Additional address</label>
			</div>
			
			<div class="col">
				<input type="text" class="form-control" id="additionalAdressInput" name="additional_address" th:value="${additional_address}">
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-2 text-right">
				<label for="cityInput">City</label>
			</div>
			
			<div class="col">
				<input type="text" class="form-control" id="cityInput" name="city" th:value="${city}">
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-2 text-right">
		    	<label for="zipCodeInput">Postal Code</label>
		    </div>
		    
		    <div class="col">
		    	<input type="text" class="form-control" id="zipCodeInput" name="postal_code" th:value="${postal_code}">
		    </div>	
		   </div>
		   
		   <div class="row mt-3">
		    <div class="col-2 text-right">
		    	<label for="countryInput">Country</label>
		    </div>
		    
		    <div class="col">
		    	<input type="text" class="form-control" id="countryInput" name="country" th:value="${country}">
		    	<input type="hidden" name="edit" value="1" />
		    </div>
		</div>
	</div>
</div>
<!-- End of characteristics -->

<!--Material textarea-->
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<div class="md-form">
				<label for="form7">House description</label>
			 	<textarea id="form7" class="md-textarea form-control" rows="3" name="description" th:value="${description}"></textarea>
			</div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col mt-3 text-right">
	  		<input type="submit" class="btn btn-light border border-dark rounded-pill" name="action" value="Save Description" >
	  	</div>
	</div>
</form>
<!-- End of material textarea -->

<!-- End of content -->

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->

</body>
</html>