<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title> House Profile</title>
	<link th:href="@{/css/houseProfile.css}" rel="stylesheet" />
</head>
<body>
	<div class="header">
  		<div class="">
    		<div class="">
      			<div class=""></div>
      			<div class="">Find a home</div>
    		</div>
    		<div class="">
      			<div class="">Log In</div>
      			<div class="">Join the experience /</div>
    		</div>
  		</div>
		<div class="">
			<div class="">
				<img class="" src="small-research-area.svg" />
				<div class="">Country</div>
			</div>
    		<div class="">
      			<div class=""></div>
      			<div class="">City</div>
    		</div>
    		<div class="">
      			<img class="" src="rectangle-3.svg" />
      			<div class="">Date</div>
    		</div>
    		<div class="">
		    	<div class=""></div>
		      	<div class="">People</div>
    		</div>
    		<div class="">
      			<img class="" src="image-2.png" />
    		</div>
  		</div>
  		<div class="">
    		<span>
    			<span class="">+ </span>
    			<span class="">Options</span> 
    		</span>
  		</div>
	</div>
	
</body>
</html>
