<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>House Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>House Page</h1>

	<div>
		<label>Description</label>
		<div>
			<p th:text="${house.description}">
		</div>
	</div>
	
	<br>

	<div>
		<label>Services</label>
		<div>
			<p th:text="${house.services}">
		</div>
	</div>
	
	<br>

	<div>
		<label>Constraints</label>
		<div>
			<p th:text="${house.constraints}">
		</div>
	</div>
	
	<br>

	<div>
		<label>Rate</label>
		<div>
			<p th:text="${house.ratingsH}">
		</div>
	</div>
	
	<!-- CHANGED BY AM -->
	<div>
	listHouseRatings
	<div th:each="rating: ${listHouseRatings}" var="rating">
	<p th:text="${rating.value}"></p>
	<p th:text="${rating.description}"></p>
	</div>
	
	<!-- END CHANGE -->
	
	<br>
	
	<div>
		<label>Address</label>
		<div>
			<p th:text="${house.address}+' '+${house.additional_address}+' '+${house.city}+' '+${house.postal_code}+' '+${house.country}">
		</div>
	</div>
	
	<br>

		<div>
			<label>Photos</label>
			<div> <img alt="" th:src="${house.photos}" style="width: 100px;height: 100px;"></div>
		</div>
		
		<!-- CHANGE BY AMANDA -->
		<a th:href="@{/rating/add/HouseRating/{id_house}(id_house=${house.id_house})}">Add Rating</a>
</body>
</html>