<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	<meta charset="utf-8" />
	<title>Edit houses</title>
		<div th:insert="fragments/header.html :: links"> 
		</div>
	</head>

<body>

<!-- Header -->
<header th:insert="fragments/header.html :: header"> 
</header>
<!-- End of header --
<!-- Content -->
<!-- Gallery -->
<div class="container">
	<div class="row mt-5">
		<div>
	    	<img
	      		src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
	      		class="w-100 shadow-1-strong rounded mb-4"
	      		alt="Boat on Calm Water"
	   	 	/>
	    	<div class="text-center mt-4">
        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#house_photos">
  					See all photos
				</button>
         	</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-10 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Add pictures</button>
	  	</div>
	  	
	  	<div class="col-2 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Delete pictures</button>
	  	</div>
	</div>
	
	<div class="row">
		
	</div>
</div>
<div class="modal fade" id="house_photos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
			<div class="modal-body">
					<img
		      			src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
		      			class="w-100 shadow-1-strong rounded mb-4"
		      			alt="Wintry Mountain Landscape"
		    		/>
	
				    <img
				      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="Mountains in the Clouds"
				    />

				    <img
				      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="Waves at Sea"
				    />
				
				    <img
				      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="Yosemite National Park"
				    /> 
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>	  
<!-- End of gallery -->

<!-- House characteristics -->
<div class="container">
	<div th:insert="housesList.html :: characteristics"></div>
</div>
<!-- End of characteristics -->

<!--Material textarea-->
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<div class="md-form">
				<label for="form7">House description</label>
			 	<textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col mt-3 text-right">
	  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Save description</button>
	  	</div>
	</div>
</div>
<!-- End of material textarea -->

<!-- End of content -->

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->

</body>
</html>