<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	<meta charset="utf-8" />
	<title>Users Edit</title>
 		<div th:insert="fragments/header.html :: links"> 
		</div>
	</head>

<body>
<!-- Header -->
<header th:insert="fragments/header.html :: header"> 
</header>
<!-- End of header -->

<!-- Content -->
<div class="container-fluid">
	<div class="row">
		<div class="col mt-3">
			<div class="row">
				<div class="col">
					<h2 th:text="${house.address}+' '+${house.additional_address}+' '+${house.city}+' '+${house.postal_code}+' '+${house.country}"></h2>
				</div>
				
				<div class="col text-right">
					<span th:text="${house.ratingsH} + '/5 ' + '(' + ${house.ratingSize} + ')' "></span>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mb-1 ml-1" viewBox="0 0 16 16">
  						<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
					</svg>
				</div>
			</div>
		</div>
		
		<div class="col mt-5">
			<div class="row">
				<div class="col text-right">
					Hosted by
				</div>
				
				<div class="col text-left" style="color:#14A6B6">
					<u th:text="${houseOwner}"></u>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<div class="row mt-5">
				<div class="col">
				    <img
				      th:src="@{'/house_photos/'+${house.photo1}}"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="House photo"
				    />
				</div>
			</div>
<!-- 	Fenetre modale pour afficher les photos		 -->
			<div class="row">
				<div class="col text-right">
<!-- 					<p style="color:#14A6B6"><u>See all pictures</u></p> -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#house_photos">
	  					See all photos
						</button>
				</div>
			</div>
		</div> 
		
		<div class="modal fade" id="house_photos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">Pictures of the house</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
			<div class="modal-body">
					<img
				      th:src="@{'/house_photos/'+${house.photo1}}"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="House photo"
				    />
	
				    <img
				      th:src="@{'/house_photos/'+${house.photo2}}"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="House photo"
				    />

				    <img
				      th:src="@{'/house_photos/'+${house.photo3}}"
				      class="w-100 shadow-1-strong rounded mb-4"
				      alt="House photo"
				    />

			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>	  

<!-- Fin fenetre modale -->
		
		<div class="col">
			<div class="row">
				<div class="col text-center">
					<h3>RATINGS</h3>
				</div>
			</div>
			
			<div th:each="rating: ${listHouseRatings}" var="rating">
				<div class="row mr-5">
					<div class="row">
						<div class="col-3">
							<div class="row">
								<div class="col-3">
								</div>
								
								<div class="col text-center">
									<img src="https://archzine.fr/wp-content/uploads/2016/03/le-belle-photo-image-la-plus-belle-image-du-monde.jpg" alt="FireBnB logo" class="img-fluid border rounded-circle mx-auto d-block" width="auto" height="25%">
								</div>
							</div>
							
							<div class="row">
								<div class="col-3">
								</div>
							</div>
						</div>
						
						<div class="col-9 text-justify mt-4">
							<h6><b th:text="${rating.value} + '/5'"></h6>
							<p th:text="${rating.description}"></p>
						</div>
					</div>
				</div>
			</div>
			<a th:if="${currentUserId} != ${houseOwnerId}" th:href="@{/rating/add/HouseRating/{id_house}(id_house=${house.id_house})}">Add Rating</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<p th:text="${house.description}"></p>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h4 style="color:#14A6B6"><b>Services</b></h4>
					</div>
				</div>
				
				<div class="row" th:each="service : ${servicesList}">
					<div class="col"  th:text="${service}">
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row">
					<div class="col">
						<h4 style="color:#14A6B6"><b>Constraints</b></h4>
					</div>
				</div>
				
				<div class="row"  th:each="constraint : ${constraintsList}">
					<div class="col" th:text="${constraint}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<a th:href="@{/bookHouse (id_house=${house.id_house})}">Book house</a>
</div>
<!-- End of content -->

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->
</body>
</html>