<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
	<title>Index</title>
		<div th:insert="fragments/header.html :: links"> 
		</div>
	</head>

<body>

<!-- Header -->
<header th:insert="fragments/header.html :: headerLoggedOut"> 
</header>
<!-- End of header -->

<!-- Page content -->

<!-- Search bars-->
<div class="container-fluid" style="background-color: rgba(20, 166, 182);">
	<div class="row">
		<div class="col mt-5 mb-5 border-0">
			<div class="form-outline text-center">
 			 	<input type="search" id="form1" class="form-control rounded-pill" placeholder="Country" aria-label="Search"/>
			</div>
		</div>
		
		<div class="col mt-5 mb-5">
			<div class="form-outline text-center">
 			 	<input type="search" id="form2" class="form-control rounded-pill" placeholder="City" aria-label="Search"/>
			</div>
		</div>
		
		<div class="col mt-5 mb-5 border-0">
			<div class="form-outline text-center">
 			 	<input type="search" id="form3" class="form-control rounded-pill" placeholder="Date" aria-label="Search" />
			</div>
		</div>
		
		<div class="col mt-5 mb-5 border-0">
			<div class="form-outline text-center">
 			 	<input type="search" id="form4" class="form-control rounded-pill" placeholder="People" aria-label="Search" />
			</div>
		</div>
		
		<div class="col-1 mt-5 mb-5 text-left">
			<button type="submit" class="btn btn-light border border-dark rounded-pill">
	  			<svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	  				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
	  			</svg>	
	  		</button>
		</div>
	</div>
</div>
<!-- End of search bars -->

<!-- Background images -->
<div class="bg-image" style="background-image: url('https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEzNzYzNn0?utm_source=dictionnaire&utm_medium=referral');background-repeat: no-repeat; background-size: contain;">
	<div class="mask" style="background-color: rgba(203, 238, 242, 0.6);">
    	<div class="d-flex justify-content-center align-items-center h-100">
    	<!-- Carousel -->
    	<div id="carousel" class="carousel slide" data-ride="carousel">
		  <ul class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
		    <li data-target="#carousel" data-slide-to="2"></li>
		  </ul>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img src="https://static.almeriahomes.com/img/og_default.2020112416483745.jpg" alt="Madrid, Spain" class="rounded">
		      <div class="carousel-caption d-none d-md-block" style="background-color: rgba(20, 23, 24, 0.6);">
			    <h5>New House. New City. For FREE</h5>
			  </div>
		    </div>
		    <div class="carousel-item">
		      <img src="https://cdn.decoist.com/wp-content/uploads/2016/06/Street-facade-of-Two-Houses-by-Alkhemist-Architects-in-Bangkok-Thailand.jpg" alt="Bangkok, Thailand" class="rounded" >
		    </div>
		    <div class="carousel-item">
		      <img src="https://pbs.twimg.com/media/ExBSISWWQAI3OtV.jpg" alt="Seoul, South Korea" class="rounded">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carousel" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#carousel" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
    </div>
 </div>
 
 <div class="bg-image" style="background-image: url('https://www.vivons-maison.com/sites/default/files/styles/740px/public/field/image/belle-maison-de-ville-luxe.jpg?itok=Q2QYVCq6'); background-repeat: no-repeat; background-size: cover;">
	<div class="mask" style="background-color: rgba(3, 3, 3, 0.6);">
    	<div class="d-flex justify-content-center h-100">
    		<div class="row">
    			<h1 class="text-white">BEST RATED HOUSES</h1>
    		</div>
      		
      		<div class="row">
      			
      		</div>
      	</div>
    </div>
 </div>
<!-- End of background images -->

<div class="container-fluid">
	<div class="row">
	</div>
	<div class="row">
	</div>
	<div class="row">
	</div>
</div>
<!-- End of page content -->

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->

</body>
</html>