<!DOCTYPE HTML>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Message System</title>
</head>
<body>
	<div th:if="${message.id_house_sender != null}">
		<h1 th:text="'Subject: Your house ' + ${message.subject}"></h1>
		<p th:text="'From ' + ${senderFirstName} + ' ' + ${senderLastName}"></p>
		<p th:text="'On ' + ${message.creation_date}"></p>
		<p th:text="${message.content}"></p>
		<p th:text="'Id de la maison de id_sender : ' + ${message.id_house_sender}"></p>
		
		<a th:href=@{/houseProfile/{id_house}(id_house=${message.id_house_sender})}>View House</a>
		<form th:action="@{/confirmBooking}" th:object="${house}" method="post">
			<td> Do you confirm the exchange?</td>
			<tr>
				<td><input name="id_house_receiver" type="hidden" th:value="${message.id_house_receiver}"/></td>
				<td><input name="id_house_sender" type="hidden" th:value="${message.id_house_sender}"/></td>
			</tr>
			<tr>
				<br><td><input type="radio" name="confirm" value="yes"/> Yes</td><br>
				<td><input type="radio" name="confirm" value="no"/>No</td><br>
			</tr>
			<tr>
				<td><input type="submit" name="action" value="confirm" /></td>
			</tr>
		</form>
	</div>
	<div th:if="${message.id_house_sender == null}">
		<h1 th:text="'Subject: ' + ${message.subject}"></h1>
		<p th:text="'By ' + ${senderFirstName} + ' ' + ${senderLastName}"></p>
		<p th:text="'On ' + ${message.creation_date}"></p>
		<p th:text="${message.content}"></p>
	</div>
	
	<div class="text-center mt-4">
		<a class="primary-btn" th:href="@{/messagesListUser/sendMessage(email=${email}, subject=${message.subject})}">Reply</a>
	</div>


	
</body>
</html>