<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of photos</title>
</head>

<body>
	List of Photos

	<form th:action="@{/photosList}" th:object="${photo}" method="post">

		<table>
			<tr>
				<th>Id</th>
				<th>House Picture</th>
			</tr>

			<tr th:each="photo: ${listPhotos}">
				<td th:text="${photo.id_photo}">Id</td>
				<td th:text="${photo.housePhoto}"><img alt="" th:src="*{'data:image/jpeg;base64,'+{photo.housePhoto}}" style="width: 100px;height: 100px;"></td>
				<!--  <td th:text="${photo.housePhoto_FK}">House id</td> -->
				<td><a onclick="return confirm('Please Confirm')"
					th:href="@{/photosList/delete(id_photo=${photo.id_photo}, mc=${motC})}"> Delete
				</a></td>
			</tr>

		</table>

	</form>

</body>

</html>