<!DOCTYPE>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
	<title>Registration</title>
 		<div th:insert="fragments/header.html :: links"> 
		</div>
	</head>

<body>

<!-- Header -->
<header th:insert="fragments/header.html :: headerLoggedOut"> 
</header>
<!-- End of header -->

<div class="row mt-5">
</div>
<div class="container border rounded-top">
	<div class="row" style="background-color: rgba(20, 166, 182);">
		<h1 class="col text-center">Log In or Join the experience</h1>
	</div>
	
	<div class="row mt-5">
		<div class="col text-center">
			<div class="row">
				<div class="col">
					<hr class="bg-dark"/>
				</div>
				
				<div class="col-2">
					<h2> Log In </h2>
				</div>
				
				<div class="col">
					<hr class="bg-dark"/>
				</div>
			</div>
		
				<form>
				  <div class="form-group">
					  <div class="row mt-3">
					  	<div class="col-2 text-right">
					    	<label for="emailInput">Email</label>
					    </div>
					    
					    <div class="col-9">
					    	<input type="email" class="form-control" id="emailInput" >
					    </div>
					  </div>
				  </div>
				  
				  <div class="form-group">
				  <div class="row">
				  		<div class="col-2 text-right">
					    	<label for="passwordInput">Password</label>
					    </div>
					    
					    <div class="col-9">
					    	<input type="password" class="form-control" id="passwordInput" >
					    </div>
					  </div>
				  </div>
				  
					<div class="row">
						<div class="col-11 text-right">
					  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Log In</button>
					  	</div>
					</div>
				</form>
			</div>
		</div>
		
	<div class="row mt-5 mb-5">
		<div class="col text-center">
			<div class="row">
				<div class="col">
					<hr class="bg-dark"/>
				</div>
				
				<div class="col-2">
					<h2> Sign Up </h2>
				</div>
				
				<div class="col">
					<hr class="bg-dark"/>
				</div>
			</div>
	
			<form>
				<div class="form-group">
				  <div class="row mt-3">
				  	<div class="col-2 text-right">
				    	<label for="firstNameInput">First Name</label>
				    </div>
				    
				    <div class="col-4">
				    	<input type="text" class="form-control" id="firstNameInput" >
				    </div>
				    
				    <div class="col-2 text-right">
				    	<label for="lastNameInput">Last Name</label>
				    </div>
				    
				    <div class="col-3">
				    	<input type="text" class="form-control" id="lastNameInput" >
				    </div>				    
				  </div>
			  </div>
			  
			  <div class="form-group">
				  <div class="row">
				  	<div class="col-2 text-right">
				    	<label for="emailInput">Email</label>
				    </div>
				    
				    <div class="col-6">
				    	<input type="email" class="form-control" id="emailInput" >
				    </div>
				    
				    <div class="col-1 text-right">
				    	<label for="ageInput">Age</label>
				    </div>
				    
				    <div class="col-2">
				    	<input type="number" class="form-control" id="ageInput" >
				    </div>				    
				  </div>
			  </div>

				<div class="form-group">
				  <div class="row">
				  	<div class="col-2 text-right">
				    	<label for="adressInput">Adress</label>
				    </div>
				    
				    <div class="col-3">
				    	<input type="text" class="form-control" id="adressInput" >
				    </div>
				    
				    <div class="col-2 text-right">
				    	<label for="additionalAdressInput">Additional adress</label>
				    </div>
				    
				    <div class="col-4">
				    	<input type="text" class="form-control" id="additionalAdressInput" >
				    </div>				    
				  </div>
			  </div>

				<div class="form-group">
				  <div class="row">
				  	<div class="col-2 text-right">
				    	<label for="cityInput">City</label>
				    </div>
				    
				    <div class="col-2">
				    	<input type="text" class="form-control" id="cityInput" >
				    </div>
				    
				    <div class="col-1 text-right">
				    	<label for="zipCodeInput">Zip code</label>
				    </div>
				    
				    <div class="col-2">
				    	<input type="text" class="form-control" id="zipCodeInput" >
				    </div>	
				    
				    <div class="col-1 text-right">
				    	<label for="countryInput">Country</label>
				    </div>
				    
				    <div class="col-3">
				    	<input type="text" class="form-control" id="countryInput" >
				    </div>			    
				  </div>
			  </div>

			<div class="form-group">
				  <div class="row"> 
				    <div class="col-2 text-right">
				    	<label for="phoneNumberInput">Phone number</label>
				    </div>
				    
				    <div class="col-9">
				    	<input type="number" class="form-control" id="phoneNumberInput" >
				    </div>				    
				  </div>
			  </div>
		  		  			  
			 <div class="form-group">
			  <div class="row">
			  		<div class="col-2 text-right">
				    	<label for="passwordInput">Password</label>
				    </div>
				    
				    <div class="col-9">
				    	<input type="password" class="form-control" id="passwordInput" >
				    </div>
				  </div>
			  </div>
			  
				<div class="row">
					<div class="col-11 text-right">
				  		<button type="submit" class="btn btn-light border border-dark rounded-pill">Sign Up</button>
				  	</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row mt-5">
</div>

<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- End of Footer -->

</body>
</html>