<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>User Profile</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<form action="/listServices/edit" method="get">
		<table>
			<tr>
				<td>Service Name</td>
				<td><input type="text" name="serviceName" th:value="${serviceName}" /></td>
			</tr>
			<tr>
				<td><input type="hidden" name="edit" value="1" /></td>
			</tr>
			<tr>
				<td><input type="submit" name="action" value="save" /></td>
			</tr>
		</table>
	</form>
</body>
</html>