<!DOCTYPE HTMl>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	<meta charset="UTF-8"/>
	<title> User Profile</title>
	</head>
	<body>
		<h1 th:text="${user.firstName} + ' ' + ${user.lastName}"></h1>
		<div sec:authentication="principal.authorities"></div>
		<a sec:authorize="hasAuthority('USER')" th:href="@{/profile/update/{email}(email=${user.email}, 
					firstName=${user.firstName}, lastName = ${user.lastName}, 
					age = ${user.age}, address = ${user.address}, city = ${user.city}
					, postalCode = ${user.postalCode}, country = ${user.country},  
					phoneNumber = ${user.phoneNumber}, edit = 0)}"> Edit</a>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
		
	</body>
</html>